body{
  background-image: url('../images/bg-hawk.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

/* key font styles */
h1, .header-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
  font-weight:bold;
  color:#4aaaa5;
}
.non-header-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; 
}

header {
  z-index: 2;
  position:fixed;
  width:100%;
  background-color: #ffffff;
  padding: 20px 10px 14px 0px;
  border-bottom: 2px solid #cccccc;
}

#header-links-wrapper{
  display:inline;
}

#small-header{
  display:none;
}

.name-header{
  width: 50%;
  background-color:#4aaaa5;
  color:white;
  padding:15px 15px 13px 15px;
}

.link{
  float:right;
  padding-right:20px;
}
.link:hover{
  font-style: italic;
}
/* vertical lines between links */
.border-right{
  border-right:1px solid #aaaaaa;
  height:20px;
  padding-right:20px;

}


a {
color:#aaaaaa;
text-decoration: none;
}

p {
  color:gray;
  line-height: 1.5;
  text-align: justify;
}  

.content{
  width: 960px;
  margin: 0 auto;
}
/* to apply padding to contained content */
.section-content-wrapper{
  margin:15px;
}
.divider-line{
  margin:0 auto;
  min-height:1px;
  margin-bottom:20px;
  background-color:#dddddd;
}

.left-content{
  box-sizing:border-box;
  width: 650px; /* 2px allocated to border */
  background-color: #ffffff;
  float:left;
  padding-bottom:15px;
  margin:80px 0px 80px 0px; /* keep content btw header / footer */
  border:1px solid #dddddd;
}

.prof-pic{
  float:left;
  margin:0px 20px 20px 0px;
  width:100px;
}

/* portfolio page styles */
.proj-wrapper{
  position:relative;
  float:left;
}
.proj-name{
  position: absolute;
  margin-top:30px;
  color:white;
  background-color:#4aaaa5;
  padding:10px;
  width: 260px;
  font-weight: normal;
}
.proj-pic{
  float:left;
  margin:0px 28px 30px 0px;
  width:280px;
}

/* contact form styles */
.form{
  color:gray;
}
input{
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  color:#BBBBBB;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 5px;
}
input[type=submit]{
  width:auto;
  padding:10px 15px 10px 15px;
  border: none;
  margin-top:10px;
  background-color:#4aaaa5;
  color:white;
}
input[type=submit]:hover{
  background-color:#4aaaa5;
  opacity:.7;
  color:white;
  font-style: italic;
}
textarea {
  height:100px;
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  color:#BBBBBB;
  border-radius: 0px;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
}
#mailto-subject{
  display: none;
}

/* social media (right-side) content */
.right-content{
  box-sizing:border-box;
  float:right;
  width: 270px; /* 2px allocated to border */
  background-color: #ffffff;
  margin: 80px 0px 80px 0px; /* keep content between footers */
  border:1px solid #dddddd;
}
.icon{
  width:60px;
}
.icon:hover{
  opacity:.7;
}

footer {
  width:100%;
  background-color: #666666;
  color:#aaaaaa;
  padding: 20px 0px 20px 0px;
  border-top:5px solid #4aaaa5;
  text-align:center;
  position:fixed;
  bottom:0;
}

/* width between 1000px and next query */
@media screen and (max-width: 1000px) {
  .content{
    width: 648px;
    margin: 0 auto;
  }
  
  .left-content{
    width:100%;
    margin-bottom:30px;
  }

  .right-content{
    float:left;
    width:100%;
    margin-top:0px;
  }

}

/* width between 800px and next query */
@media screen and (max-width: 800px) {

  .content{
    width: 550px;
    margin: 0 auto;
  }
  
  .proj-pic{
    width:230px;
  }

  .proj-name{
    width:210px;;
  }

}

/* width between 550px and next query */
@media screen and (max-width: 600px) {

  .content{
    width: 400px;
    margin: 0 auto;
  }
  
  .left-content{
    margin-top:110px;
    width:100%;
    margin-bottom:30px;
  }

  /* resize projs */
  .proj-pic{
    width:155px;
  }
  .proj-name{
    width:135px;;
  }

  /* restructure header */
  /* hide 550+ header */
  #header-links-wrapper{
    display:none;
  }
  /* show 550- header*/
  #small-header{
    position:fixed;
    top:58px;
    display:inline-block;
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
    z-index: 1;
    padding:10px;
    width:100%;
  }
  .link{
    float:left;
  }
  header{
    border-bottom:none;
  }
}

/* width between 550px and next query */
@media screen and (max-width: 450px) {

  p{
    text-align:left;
  }
  
  .content{
    width: 270px;
    margin: 0 auto;
  }
  
  .proj-pic{
    width:230px;
  }

  .proj-name{
    width:210px;;
  }

}